.details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-transform: capitalize;
  font-size: 1.13rem;
}

.electric {
  background-color: rgb(255, 255, 161);
}

.grass {
  background-color: #b1f1ae;
}

.fire {
  background-color: #e6684f;
}

.rock {
  background-color: rgb(148, 81, 81);
}

.bug {
  background-color: #f6d6a7;
}
